<div class="row">
    <div class="col-md-6">
        <mat-card class="card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Perfiles Telefonicos Asignados</mat-card-title>
                <mat-card-subtitle>Lista de Telefonos y api keys asociadas</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="my-4">
                <table mat-table [dataSource]="dataSource" class=" w-100">

                    <ng-container matColumnDef="TELEFONO">
                        <th mat-header-cell *matHeaderCellDef>Telefono</th>
                        <td mat-cell *matCellDef="let element">{{element.TELEFONO}}</td>
                    </ng-container>

                    <ng-container matColumnDef="APIKEY">
                        <th mat-header-cell *matHeaderCellDef>APIKEY</th>
                        <td mat-cell *matCellDef="let element">{{element.APIKEY}}</td>
                    </ng-container>

                    <ng-container matColumnDef="FECHA_ACTUALIZACION">
                        <th mat-header-cell *matHeaderCellDef>Fecha Actualizacion</th>
                        <td mat-cell *matCellDef="let element">{{element.FECHA_ACTUALIZACION | date:'d/MM/Y' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="OPCIONES">
                        <th mat-header-cell *matHeaderCellDef>Opciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="openModalEditKey(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openModalAddKey()">Agregar</button>
            </mat-card-actions>

        </mat-card>
    </div>


    <div class="col-md-6">
        <app-listas-rpw></app-listas-rpw>
    </div>
</div>

